In [ ]:
#installing selenium
!pip install selenium

In [ ]:
import os
import sys
os.path.dirname(sys.executable)

In [ ]:
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException

In [ ]:
Path='C:/Users/91865/anaconda3/chromedriver.exe'

In [ ]:
browser=webdriver.Chrome(executable_path=Path)

#### 1.Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

###### 1.1 First get the webpage https://www.naukri.com/

In [ ]:
#getting the dynamic page which we wnat to web scrape
browser.get('https://www.naukri.com/')

In [ ]:
browser.maximize_window()

###### 1.2 Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

In [ ]:
#get the input elements
input_search1=browser.find_element_by_xpath("(//input[@class='suggestor-input '])[1]")
input_search1.send_keys('Data Analyst')

In [ ]:
#get the elements and send it to webpage
input_search2=browser.find_element_by_xpath("(//input[@class='suggestor-input '])[2]")
input_search2.send_keys('Bangalore')

#### 1.3 Then click the search button.

In [ ]:
#click the search button
sleep(1)
search_button=browser.find_element_by_class_name('qsbSubmit')
search_button.click()

#### 1.4 Then scrape the data for the first 10 jobs results you get.

In [ ]:
job_class='title fw500 ellipsis'
next_button=browser.find_element_by_xpath("(//a[@class='title fw500 ellipsis'])")

In [ ]:
job=[]
for i in range(10):
    print('Srapping top 10 jobs',i+1)
    jobs=browser.find_elements_by_xpath("(//a[@class='title fw500 ellipsis'])")
    for p in jobs:
        job.append(p.text)
    next_button.click()
    sleep(2)

In [ ]:
#total 100 matching jobs
len(job)

#### 1.4 Scrapping Top 10 jobs for Data analyst

In [ ]:
#top 10 jobs 

top_10=job[:10]
print("top 10 jobs for Data Analyst",top_10)

#### 1.5 Finally create a dataframe of the scraped data.

In [ ]:
import pandas as pd

In [ ]:
#creating dataframe of scraped data
data_analyst=pd.DataFrame({'Jobs for Data Analyst':top_10})
data_analyst

#### 2. Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:

#### 2.1First get the webpage https://www.naukri.com/

In [ ]:
#getting the dynamic page which we wnat to web scrape
browser.get('https://www.naukri.com/')

In [ ]:
#maximise the window
browser.maximize_window()

#### 2.2 Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

In [ ]:
#get the input elements
input_search1=browser.find_element_by_xpath("(//input[@class='suggestor-input '])[1]")
input_search1.send_keys('Data Scientist')

In [ ]:
#get the elements and send it to webpage
input_search2=browser.find_element_by_xpath("(//input[@class='suggestor-input '])[2]")
input_search2.send_keys('Bangalore')

#### 2.3 Then click the search button.

In [ ]:
#click the search button
sleep(1)
search_button=browser.find_element_by_class_name('qsbSubmit')
search_button.click()

#### 2.4  Then scrape the data for the first 10 jobs results you get.

In [ ]:
job_class='title fw500 ellipsis'
next_button=browser.find_element_by_xpath("(//a[@class='title fw500 ellipsis'])")

In [ ]:
job=[]
for i in range(10):
    print('Srapping top 10 jobs',i+1)
    jobs=browser.find_elements_by_xpath("(//a[@class='title fw500 ellipsis'])")
    for p in jobs:
        job.append(p.text)
    next_button.click()
    sleep(2)

In [ ]:
#total 200 matching jobs
len(job)

In [ ]:
#top 10 jobs 

top_10=job[:10]
print("top 10 jobs for Data Scientist",top_10)

####  2.5 Finally create a dataframe of the scraped data.

In [ ]:
import pandas as pd

In [ ]:
#creating dataframe of scraped data
data_scientist=pd.DataFrame({'Jobs for Data scientist':top_10})
data_scientist

#### 3.1 first get the webpage https://www.naukri.com/

In [ ]:
#getting the web page which we want to scape online
browser.get('https://www.naukri.com/')

In [ ]:
#maximise the window
browser.maximize_window()

#### 3.2 Enter “Data Scientist” in “Skill, Designations, and Companies” field.

In [ ]:
#getting the input from code and send it to the web page
input_search1=browser.find_element_by_xpath("(//input[@class='suggestor-input '])[1]")
input_search1.send_keys('Data Scientist')

#### 3.3 Then click the search button.

In [ ]:
#click the search button
sleep(1)
search_button=browser.find_element_by_class_name('qsbSubmit')
search_button.click()

#### 3.4 Then apply the location filter and salary filter by checking the respective boxes

In [ ]:
#click the checkbox of location
filter_locatiob=browser.find_element_by_xpath("//span[@title='Delhi / NCR']").click()
#ilter_location.click()

In [ ]:
#check the checkbox of salary
filter_salary=browser.find_element_by_xpath("//span[@title='3-6 Lakhs']").click()

In [ ]:
job_class='title fw500 ellipsis'
next_button=browser.find_element_by_xpath("(//a[@class='title fw500 ellipsis'])")

In [ ]:
job=[]
for i in range(10):
    print('Srapping top 10 jobs',i+1)
    jobs=browser.find_elements_by_xpath("(//a[@class='title fw500 ellipsis'])")
    for p in jobs:
        job.append(p.text)
    next_button.click()
    sleep(2)

In [ ]:
#total 200 matching jobs
len(job)

#### 3.4 scrapping top 10 jobs

In [ ]:
#top 10 jobs 

top_10=job[:10]
print("top 10 jobs for Data Scientist",top_10)

#### 3.5 Finally create a dataframe of the scraped data.

In [ ]:
import pandas as pd

In [ ]:
#creating dataframe of scraped data
data_scientist=pd.DataFrame({'Jobs for Data scientist':top_10})
data_scientist

#### 4.1 Go to Flipkart webpage by url : https://www.flipkart.com/

In [ ]:
#Get the link which we want to scrape
browser.get('https://www.flipkart.com/')

In [ ]:
#maximize the window
browser.maximize_window()

#### 4.2Enter “sunglasses” in the search field where “search for products, brands andmore” is written and click the search icon

In [ ]:
#getting the input from code and send it to the web page
input_sun=browser.find_element_by_class_name('_3704LK')
input_sun.send_keys('Sunglasses')

In [ ]:
#click the search button
sleep(1)
search_button=browser.find_element_by_class_name('L0Z3Pu')
search_button.click()

#### 4.3 Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [ ]:
brands = browser.find_elements_by_xpath("//div[@class='_2WkVRV']")

In [ ]:
brands_list = []
for p in range(len(brands)):
    brands_list.append(brands[p].text)

In [ ]:
products=browser.find_elements_by_xpath("//a[@class='IRpwTa']")

In [ ]:
products_desc=[]
for p in range(len(products)):
    products_desc.append(products[p].text)

In [ ]:
prices=browser.find_elements_by_xpath("//div[@class='_30jeq3']")

In [ ]:
prices_sun=[]
for p in range(len(prices)):
    prices_sun.append(prices[p].text)

In [ ]:
import pandas as pd

In [ ]:
#creating dataframe of it
sun_df=pd.DataFrame({'Brand Name':brands_list,'Product Description':products_desc,'Prices':prices_sun})
sun_df

#### 4.4After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then click on it.

In [ ]:
#click the next button
sleep(1)
next_button=browser.find_element_by_xpath("//a[@class='_1LKTO3']")
next_button.click()

#### 4.5 Now scrape data from this page as usual

In [ ]:
brands1 = browser.find_elements_by_xpath("//div[@class='_2WkVRV']")

In [ ]:
brands_list1 = []
for b in range(len(brands1)):
    brands_list1.append(brands1[b].text)

In [ ]:
products1=browser.find_elements_by_xpath("//a[@class='IRpwTa']")

In [ ]:
products_desc1=[]
for p in range(len(products1)):
    products_desc1.append(products1[p].text)

In [ ]:
prices1=browser.find_elements_by_xpath("//div[@class='_30jeq3']")

In [ ]:
prices_sun1=[]
for p in range(len(prices1)):
    prices_sun1.append(prices1[p].text)

In [ ]:
#creating dataframe of it
sun_df1=pd.DataFrame({'Brand Name':brands_list1,'Product Description':products_desc1,'Prices':prices_sun1})
sun_df1

In [ ]:
#click the next button
sleep(1)
next_button1=browser.find_element_by_xpath("//a[@calss='_1LKTO3']")
next_button1.click()

###### 4.6 Repeat this until you get data for 100 sunglasses.

In [ ]:
brands2 = browser.find_elements_by_xpath("//div[@class='_2WkVRV']")

In [ ]:
brands_list2 = []
for b in range(len(brands2)):
    brands_list2.append(brands2[b].text)

In [ ]:
products2=browser.find_elements_by_xpath("//a[@class='IRpwTa']")

In [ ]:
products_desc2=[]
for p in range(len(products2)):
    products_desc2.append(products2[p].text)

In [ ]:
prices2=browser.find_elements_by_xpath("//div[@class='_30jeq3']")

In [ ]:
prices_sun2=[]
for p in range(len(prices2)):
    prices_sun2.append(prices2[p].text)

In [ ]:
#creating dataframe of it
sun_df2=pd.DataFrame({'Brand Name':brands_list2,'Product Description':products_desc2,'Prices':prices_sun2})
sun_df2

#### 5.Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [ ]:
browser.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.')

In [ ]:
#maximise window
browser.maximize_window()

In [ ]:
#click on reviews
click_review=browser.find_element_by_class_name('_3_L3jD')
click_review.click()

In [ ]:
#click on all reviews
all_reviews=browser.find_element_by_class_name('MCE--B')
all_reviews.click()

In [ ]:
#Ratings
rating=browser.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

In [ ]:
ratings=[]
for r in range(len(rating)):
    ratings.append(rating[r].text)

In [ ]:
#review  Summary
review_short=browser.find_element_by_class_name('_2-N8zT')

In [ ]:
review_short1

In [ ]:
review_short1=[]
for s in range(len(review_short1)):
    review_short1.append(review_short[s].text)

In [ ]:
#Detailed summary
detail=browser.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [ ]:
Detail1=[]
for d in range(len(detail)):
    Detail1.append(detail[d].text)

In [ ]:
#creating a DataFrame
review_df=({'Ratings':ratings,'Review':review_short1,'Detialed Summary':Detail1})
review_df

In [ ]:
click_2=browser.find_element_by_xpath("//span[@class='All 5953 reviews']")
click_2.click()

#### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [ ]:
browser.get("https://www.flipkart.com/")

In [ ]:
browser.maximize_window()

In [ ]:
input_sneakers=browser.find_element_by_xpath("//input[@class='_3704LK']")
input_sneakers.send_keys('Sneakers')

In [ ]:
#click on search button
sleep(1)
search_button=browser.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [ ]:
brand_sneak=[]
sneak_desc=[]
price=[]

In [ ]:
brands_sneak1=browser.find_elements_by_class_name('_2WkVRV')
sneak_desc1=browser.find_elements_by_class_name('IRpwTa')
price1=browser.find_elements_by_xpath("//div[@class='_30jeq3']")

In [ ]:
for b in range (len(brands_sneak1)):
    brand_sneak.append(brands_sneak1[b].text)
    
for d in range (len(sneak_desc1)):
    sneak_desc.append(sneak_desc1[d].text)

for p in range (len(price1)):
    price.append(price1[p].text)

In [ ]:
import pandas as pd

In [ ]:
#creating dataframe
sneakers_df=pd.DataFrame({'Brand Name':brand_sneak,'Description':sneak_desc,'Price':price})
sneakers_df

In [ ]:
#click the next button
sleep(1)
next_button=browser.find_element_by_xpath("//a[@class='_1LKTO3']")
next_button.click()

In [ ]:
brand_sneak2=[]
sneak_desc_2=[]
price_2=[]

In [ ]:
brands_sneak2=browser.find_elements_by_class_name('_2WkVRV')
sneak_desc2=browser.find_elements_by_class_name('IRpwTa')
price2=browser.find_elements_by_xpath("//div[@class='_30jeq3']")

In [ ]:
for b in range (len(brands_sneak2)):
    brand_sneak2.append(brands_sneak2[b].text)
    
for d in range (len(sneak_desc2)):
    sneak_desc_2.append(sneak_desc2[d].text)

for p in range (len(price2)):
    price_2.append(price2[p].text)

In [ ]:
#creating dataframe
sneakers_df2=pd.DataFrame({'Brand Name':brand_sneak2,'Description':sneak_desc_2,'Price':price_2})
sneakers_df2

In [ ]:
'''click the next button
sleep(1)
next_button=browser.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
next_button.click()'''

In [ ]:
'''brand_sneak3=[]
sneak_desc_3=[]
price_3=[]'''

In [ ]:
brands_sneak3=browser.find_elements_by_xpath("//div[@class='_2WkVRV']")
sneak_desc_3=browser.find_elements_by_class_name('IRpwTa')
price3=browser.find_elements_by_xpath("//div[@class='_30jeq3']")

In [ ]:
'''for b in range (len(brands_sneak3)):
    brand_sneak3.append(brands_sneak2[b].text)
    
for d in range (len(sneak_desc2)):
    sneak_desc_3.append(sneak_desc2[d].text)

for p in range (len(price2)):
    price_3.append(price2[p].text)'''

In [ ]:
#creating dataframe
'''sneakers_df3=pd.DataFrame({'Brand Name':brand_sneak3,'Description':sneak_desc_3,'Price':price_3})
sneakers_df3'''

In [ ]:
#concatenating dataframe
sneaker=pd.concat([sneakers_df,sneakers_df2],axis=0)

In [ ]:
#Getting top 100 products
print("Top 100 Sneaker Products on Flipkart Online\n",sneaker.head(100))

#### Q7: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

In [ ]:
#get the link from which we scrap the data
browser.get(' https://www.myntra.com/shoes')

In [ ]:
#Maximise the window
browser.maximize_window()

In [ ]:
#setting the filter of price and color by coding
price_filter=browser.find_element_by_xpath("(//div[@class='common-checkboxIndicator'])[17]").click()
color_filter=browser.find_element_by_xpath("(//div[@class='common-checkboxIndicator'])[19]").click()

In [ ]:
#getting the required data from the webpage
shoe_brand=[]
shoe_desc=[]
shoe_price=[]

In [ ]:
shoes_brand=browser.find_elements_by_xpath("//h3[@class='product-brand']")
shoes_desc=browser.find_elements_by_xpath("//h4[@class='product-product']")
shoes_price=browser.find_elements_by_xpath("//div[@class='product-price']")

In [ ]:
for b in range(len(shoes_brand)):
    shoe_brand.append(shoes_brand[b].text)

for d in range(len(shoes_desc)):
    shoe_desc.append(shoes_desc[d].text)
    
for p in range(len(shoes_price)):
    shoe_price.append(shoes_price)

In [ ]:
#creating dataframe
import pandas as pd

In [ ]:
shoes_df1=pd.DataFrame({'Brand Name':shoe_brand,'Description':shoe_desc,'Price':shoe_price})
shoes_df1

In [ ]:
#click on next button
next_button=browser.find_element_by_xpath("(//li[@class='pagination-number'])[1]").click()

##### now for another set of 50 shoes

In [ ]:
#getting the required data from the webpage
shoe_brand1=[]
shoe_desc1=[]
shoe_price1=[]

In [ ]:
shoes_brand1=browser.find_elements_by_xpath("//h3[@class='product-brand']")
shoes_desc1=browser.find_elements_by_xpath("//h4[@class='product-product']")
shoes_price1=browser.find_elements_by_xpath("//div[@class='product-price']")

In [ ]:
for b in range(len(shoes_brand1)):
    shoe_brand1.append(shoes_brand1[b].text)

for d in range(len(shoes_desc1)):
    shoe_desc1.append(shoes_desc1[d].text)
    
for p in range(len(shoes_price1)):
    shoe_price1.append(shoes_price1)

In [ ]:
shoes_df2=pd.DataFrame({'Brand Name':shoe_brand1,'Description':shoe_desc1,'Price':shoe_price1})
shoes_df2

In [ ]:
#concatenate bith the datframes
shoes=pd.concat([shoes_df1 ,shoes_df2],axis=0)
shoes

#### 8. Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [ ]:
browser.get("https://www.amazon.in/")

In [ ]:
#maximise the window
browser.maximize_window()

In [ ]:
#search laptop
search_laptop=browser.find_element_by_id("twotabsearchtextbox")
search_laptop.send_keys("Laptop")

In [ ]:
#click on search button
search_button=browser.find_element_by_id("nav-search-submit-button").click()

In [ ]:
#click on the filters
inter_core_7=browser.find_element_by_xpath("(//div[@class='a-checkbox a-checkbox-fancy s-navigation-checkbox aok-float-left'])[51]")
inter_core_7.click()
inter_core_9=browser.find_element_by_xpath("(//div[@class='a-checkbox a-checkbox-fancy s-navigation-checkbox aok-float-left'])[52]")
inter_core_9.click()

In [ ]:
title=[]
rating=[]
price=[]

In [ ]:
title1=browser.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
rate=browser.find_elements_by_xpath("//span[@class='a-icon-alt']")
price1=browser.find_elements_by_xpath("//span[@class='a-price-whole']")

In [ ]:
for t in range(len(title1)):
    title.append(title1[t].text)
    
for r in range(len(rate)):
    rating.append(rate[r].text)
    
for p in range(len(price1)):
    price.append(price1[p].text)

In [ ]:
#creating database
import pandas as pd
laptop=pd.DataFrame({'Laptop Name':title,'Price':price})
laptop

In [ ]:
#top 10 laptop
laptop.head(10)

#### Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noidalocation. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image

In [ ]:
browser.get('https://www.ambitionbox.com/')

In [ ]:
#meximize the webpage
browser.maximize_window()

In [ ]:
job_click=browser.find_element_by_xpath("//a[@title='Jobs']")
job_click.click()

In [ ]:
#search job
search_job=browser.find_element_by_xpath("//input[@class='input tt-input']")

In [ ]:
search_job.send_keys('Data scientist')

In [ ]:
#click on search button
search_button=browser.find_element_by_xpath("(//span[@class='ctas-btn-medium'])[1]")
search_button.click()

In [ ]:
#select location
location=browser.find_element_by_xpath("(//i[@class='icon-chevron-right'])[2]")
location.click()

In [ ]:
click_location=browser.find_element_by_xpath("(//input[@class='custom-radio'])[18]")
click_location.click()

In [ ]:
company_name=[]
days=[]
rating=[]

In [ ]:
company=browser.find_elements_by_xpath("//p[@class='company body-medium']")
#day=browser.find_elements_by_xpath("")
rate=browser.find_elements_by_xpath("//span[@class='body-small']")

In [ ]:
for c in range(len(company)):
    company_name.append(company[c].text)
    
for r in range(len(days)):
    rating.append(rate[r].text)
    
#for d in range(len(day)):
    #days.append(day[d].text)

In [ ]:
#creating database
import pandas as pd

In [ ]:
print(company_name)
print(rating)
#print(days)

In [ ]:
#creatimd dataframe
jobe_df=pd.DataFrame({'Company Name':company_name,'Rating':rating})

###### 10. Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [ ]:
browser.get('https://www.ambitionbox.com/')

In [ ]:
#meximize the webpage
browser.maximize_window()

In [ ]:
salary_click=browser.find_element_by_xpath("//a[@class='link salaries']").click()

In [ ]:
#enter designation
search=browser.find_element_by_xpath("//input[@class='tt-input']")
search.send_keys("Data Scientist")

In [ ]:
search_button=browser.find_element_by_xpath("(//div[@class='tt-dataset tt-dataset-job-profile-search'])")

In [ ]:
company_name=[]
experiance=[]
max_min_sal=[]

avg_sal=[]

In [ ]:
company=browser.find_elements_by_xpath("//div[@class='name']")
exp=browser.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
max_min=browser.find_elements_by_xpath("//div[@class='value body-medium']")
avg=browser.find_elements_by_xpath("//p[@class='averageCtc']")

In [ ]:
for c in range(len(company)):
    company_name.append(company[c].text)
    
for e in range(len(exp)):
    experiance.append(exp[e].text)
    
for m in range(len(max_min)):
    max_min_sal.append(max_min[m].text)
    
for a in range(len(avg)):
    avg_sal.append(avg[a].text)

In [ ]:
print(company_name)

In [ ]:
#creating dataframe
import pandas as pd

In [ ]:
print(experiance)

In [ ]:
print(max_min_sal)

In [ ]:
print(avg_sal)

In [ ]:
salary=pd.DataFrame({'Company Name':company_name,'Experiance':experiance,'max_min_salary':max_min_sal,'Average salary':avg_sal})