In [1]:
#installing selenuim
!pip install selenium

Requirement already satisfied: selenium in c:\users\91865\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91865\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\91865\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\91865\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: sortedcontainers in c:\users\91865\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\91865\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: cffi>=1.14 in c:\users\91865\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\users\91865\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\91865\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\91865\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sniffio in c:\users\91865\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\91865\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\91865\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91865\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\91865\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\91865\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\91865\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\91865\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91865\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import os
import sys
os.path.dirname(sys.executable)

'C:\\Users\\91865\\anaconda3'

In [3]:
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException

In [4]:
Path='C:/Users/91865/anaconda3/chromedriver.exe'

In [5]:
browser=webdriver.Chrome(executable_path=Path)

C:\Users\91865\AppData\Local\Temp/ipykernel_4832/4213542585.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser=webdriver.Chrome(executable_path=Path)

#### 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [6]:
browser.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [7]:
browser.maximize_window()

In [11]:
name=[] 
artist=[]
upload=[]
views=[]
total=[]

In [12]:
total1=browser.find_elements_by_xpath("//td")

C:\Users\91865\AppData\Local\Temp/ipykernel_35880/1037942709.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  total1=browser.find_elements_by_xpath("//td")

In [13]:
for t in range(len(total1)):
    total.append(total1[t].text)

In [15]:
name=total[5:184:6]
len(name)

30

In [17]:
artist=total[6:184:6]
len(artist)

30

In [19]:
upload=total[8:184:6]
len(upload)

30

In [21]:
views=total[7:184:6]
len(views)

30

In [23]:
import pandas as pd

In [24]:
youtube_df=pd.DataFrame({'Video Name':name,'Uploader':artist,'Upload Date':upload,'Views(Billions)':views})

In [25]:
youtube_df

,Video Name,Uploader,Upload Date,Views(Billions)
0,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.72
1,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.85
2,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.36
3,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.72
4,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.52
5,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.40
6,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.64
7,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.58
8,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.57
9,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.49
10,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.43
11,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.08
12,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.94
13,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.69
14,"""Roar""[33]",Katy Perry,"September 5, 2013",3.58
15,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.58
16,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.54
17,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.45
18,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.36
19,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.29
20,"""Faded""[39]",Alan Walker,"December 3, 2015",3.28
21,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.27
22,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.24
23,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.23
24,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.21
25,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.21
26,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.17
27,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.17
28,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.14
29,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.08

#### 2.Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [26]:
browser.get("https://www.bcci.tv/international/fixtures")

In [27]:
browser.maximize_window()

In [28]:
match=[]
series=[]
place=[]
date=[]
time=[]

In [29]:
match1=browser.find_elements_by_xpath("//span[@class='ng-binding']")
series1=browser.find_elements_by_xpath("//span[@class='matchOrderText ng-binding ng-scope']")
place1=browser.find_elements_by_xpath("//span[@class='ng-binding ng-scope']")
date1=browser.find_elements_by_xpath("//h5[@class='ng-binding']")
time1=browser.find_elements_by_xpath("//h5[@class='text-right ng-binding']")

C:\Users\91865\AppData\Local\Temp/ipykernel_17052/1566050238.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  match1=browser.find_elements_by_xpath("//span[@class='ng-binding']")
C:\Users\91865\AppData\Local\Temp/ipykernel_17052/1566050238.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  series1=browser.find_elements_by_xpath("//span[@class='matchOrderText ng-binding ng-scope']")
C:\Users\91865\AppData\Local\Temp/ipykernel_17052/1566050238.py:3: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  place1=browser.find_elements_by_xpath("//span[@class='ng-binding ng-scope']")
C:\Users\91865\AppData\Local\Temp/ipykernel_17052/1566050238.py:4: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  date1=browser.find_elements_by_xpath("//h5[@class='ng-binding']")
C:\Users\91865\AppData\Local\Temp/ipykernel_17052/1566050238.py:5: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  time1=browser.find_elements_by_xpath("//h5[@class='text-right ng-binding']")

In [30]:
for s in range(len(series1)):
    series.append(series1[s].text)
for m in range(len(match1)):
    match.append(match1[m].text)
for p in range(len(place1)):
    place.append(place1[p].text)
for d in range(len(date1)):
    date.append(date1[d].text)
for t in range(len(time1)):
    time.append(time1[t].text)

In [31]:
import pandas as pd

In [32]:
match_df=pd.DataFrame({'Series':series,'Match':match,'Place':place,'Date':date,'Time':time})

In [33]:
match_df

,Series,Match,Place,Date,Time
0,1st T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium,",9 JUN 2022,7:00 PM IST
1,2nd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium,",12 JUN 2022,7:00 PM IST
2,3rd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",14 JUN 2022,7:00 PM IST
3,4th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium,",17 JUN 2022,7:00 PM IST
4,5th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium,",19 JUN 2022,7:00 PM IST

#### 3.Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [31]:
browser.get('https://www.guru99.com/')

In [32]:
browser.maximize_window()

In [33]:
selen=browser.find_element_by_xpath("/html/body/footer/div/div[1]/div/div/div/div/div/div/section/div/div/div[2]/div/div/div/div/div[2]/div/div/div[2]/div/div[2]/div/div/div[3]/div/div/div[2]/div/div/a/div[2]/h5").click()

C:\Users\91865\AppData\Local\Temp/ipykernel_35880/1951000031.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  selen=browser.find_element_by_xpath("/html/body/footer/div/div[1]/div/div/div/div/div/div/section/div/div/div[2]/div/div/div/div/div[2]/div/div/div[2]/div/div[2]/div/div/div[3]/div/div/div[2]/div/div/a/div[2]/h5").click()

In [34]:
tutorial=browser.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong").click()

C:\Users\91865\AppData\Local\Temp/ipykernel_35880/2071666558.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  tutorial=browser.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong").click()

In [35]:
name=[]
description=[]
total=[]

In [36]:
total1=browser.find_elements_by_xpath("//td")

C:\Users\91865\AppData\Local\Temp/ipykernel_35880/1037942709.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  total1=browser.find_elements_by_xpath("//td")

In [37]:
for t in range(len(total1)):
    total.append(total1[t].text)

In [38]:
name=total[0:82:2]
len(name)

41

In [39]:
description=total[1:82:2]
len(description)

41

In [40]:
import pandas as pd

In [41]:
excep=pd.DataFrame({'Exception Name':name,'Description':description})

In [43]:
excep

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

#### 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

You have to find following details:
A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [6]:
browser.get("https://www.statisticstimes.com/")

In [7]:
browser.maximize_window()

In [8]:
click_eco=browser.find_element_by_xpath("(//button[@class='dropbtn'])[2]").click()

C:\Users\91865\AppData\Local\Temp/ipykernel_10488/1971373727.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  click_eco=browser.find_element_by_xpath("(//button[@class='dropbtn'])[2]").click()

In [9]:
click_ind=browser.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")

C:\Users\91865\AppData\Local\Temp/ipykernel_10488/1376985049.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  click_ind=browser.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")

In [10]:
click_ind.click()

In [17]:
gdp_states=browser.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()

C:\Users\91865\AppData\Local\Temp/ipykernel_10488/2557185713.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  gdp_states=browser.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a"}
  (Session info: chrome=102.0.5005.63)
Stacktrace:
Backtrace:
	Ordinal0 [0x0116D953+2414931]
	Ordinal0 [0x010FF5E1+1963489]
	Ordinal0 [0x00FEC6B8+837304]
	Ordinal0 [0x01019500+1021184]
	Ordinal0 [0x0101979B+1021851]
	Ordinal0 [0x01046502+1205506]
	Ordinal0 [0x010344E4+1131748]
	Ordinal0 [0x01044812+1198098]
	Ordinal0 [0x010342B6+1131190]
	Ordinal0 [0x0100E860+976992]
	Ordinal0 [0x0100F756+980822]
	GetHandleVerifier [0x013DCC62+2510274]
	GetHandleVerifier [0x013CF760+2455744]
	GetHandleVerifier [0x011FEABA+551962]
	GetHandleVerifier [0x011FD916+547446]
	Ordinal0 [0x01105F3B+1990459]
	Ordinal0 [0x0110A898+2009240]
	Ordinal0 [0x0110A985+2009477]
	Ordinal0 [0x01113AD1+2046673]
	BaseThreadInitThunk [0x76BD6739+25]
	RtlGetFullPathName_UEx [0x77808E7F+1215]
	RtlGetFullPathName_UEx [0x77808E4D+1165]

In [18]:
rank=[]
state=[]
g18_19=[]
g17_18=[]
gdp=[]
share=[]

In [19]:
rank1=browser.find_elements_by_xpath("//td[@class='data1']")
state1=browser.find_elements_by_xpath("//td[@class='name']")
g18_19_1=browser.find_elements_by_xpath("//td[@class='data sorting_1']")
g17_18_1=browser.find_elements_by_xpath("//td[@class='data']")
gdp_1=browser.find_elements_by_xpath("//td[@class='data']")
share1=browser.find_elements_by_xpath("//td[@class='data']")

C:\Users\91865\AppData\Local\Temp/ipykernel_10488/3747380572.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  rank1=browser.find_elements_by_xpath("//td[@class='data1']")
C:\Users\91865\AppData\Local\Temp/ipykernel_10488/3747380572.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  state1=browser.find_elements_by_xpath("//td[@class='name']")
C:\Users\91865\AppData\Local\Temp/ipykernel_10488/3747380572.py:3: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  g18_19_1=browser.find_elements_by_xpath("//td[@class='data sorting_1']")
C:\Users\91865\AppData\Local\Temp/ipykernel_10488/3747380572.py:4: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  g17_18_1=browser.find_elements_by_xpath("//td[@class='data']")
C:\Users\91865\AppData\Local\Temp/ipykernel_10488/3747380572.py:5: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  gdp_1=browser.find_elements_by_xpath("//td[@class='data']")
C:\Users\91865\AppData\Local\Temp/ipykernel_10488/3747380572.py:6: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  share1=browser.find_elements_by_xpath("//td[@class='data']")

In [20]:
for r in range(len(rank1)):
    rank.append(rank1[r].text)
for s in range(len(state1)):
    state.append(state1[s].text)
for g19 in range(len(g18_19_1)):
    g18_19.append(g18_19_1[g19].text)
for sh in range(len(share1)):
    share.append(share1[sh].text)

In [45]:
rank=rank[0:33]
len(rank)

33

In [46]:
state=state[0:33]
state

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [47]:
g18_19=g18_19[0:33]
g18_19

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [37]:
g17_18=share[0:165:5]
len(g17_18)

33

In [38]:
gdp=share[2:165:5]
len(gdp)

33

In [40]:
share=share[1:165:5]
len(share)

33

In [41]:
import pandas as pd

In [48]:
gdp_df=pd.DataFrame({'Rank':rank,'States':state,' GSDP(18-19)':g18_19,' GSDP(17-18)':g17_18,'GDP IN BILLIONS':gdp,'share':share})

In [49]:
gdp_df

,Rank,States,GSDP(18-19),GSDP(17-18),GDP IN BILLIONS,share
0,1,Maharashtra,"2,632,792",-,399.921,13.94%
1,2,Tamil Nadu,"1,630,208","1,845,853",247.629,8.63%
2,3,Uttar Pradesh,"1,584,764","1,687,818",240.726,8.39%
3,4,Gujarat,"1,502,899",-,228.290,7.96%
4,5,Karnataka,"1,493,127","1,631,977",226.806,7.91%
5,6,West Bengal,"1,089,898","1,253,832",165.556,5.77%
6,7,Rajasthan,"942,586","1,020,989",143.179,4.99%
7,8,Andhra Pradesh,"862,957","972,782",131.083,4.57%
8,9,Telangana,"861,031","969,604",130.791,4.56%
9,10,Madhya Pradesh,"809,592","906,672",122.977,4.29%
10,11,Kerala,"781,653",-,118.733,4.14%
11,12,Delhi,"774,870","856,112",117.703,4.10%
12,13,Haryana,"734,163","831,610",111.519,3.89%
13,14,Bihar,"530,363","611,804",80.562,2.81%
14,15,Punjab,"526,376","574,760",79.957,2.79%
15,16,Odisha,"487,805","521,275",74.098,2.58%
16,17,Assam,"315,881",-,47.982,1.67%
17,18,Chhattisgarh,"304,063","329,180",46.187,1.61%
18,19,Jharkhand,"297,204","328,598",45.145,1.57%
19,20,Uttarakhand,"245,895",-,37.351,1.30%
20,21,Jammu & Kashmir,"155,956",-,23.690,0.83%
21,22,Himachal Pradesh,"153,845","165,472",23.369,0.81%
22,23,Goa,"73,170","80,449",11.115,0.39%
23,24,Tripura,"49,845","55,984",7.571,0.26%
24,25,Chandigarh,"42,114",-,6.397,0.22%
25,26,Puducherry,"34,433","38,253",5.230,0.18%
26,27,Meghalaya,"33,481","36,572",5.086,0.18%
27,28,Sikkim,"28,723","32,496",4.363,0.15%
28,29,Manipur,"27,870","31,790",4.233,0.15%
29,30,Nagaland,"27,283",-,4.144,0.14%
30,31,Arunachal Pradesh,"24,603",-,3.737,0.13%
31,32,Mizoram,"22,287","26,503",3.385,0.12%
32,33,Andaman & Nicobar Islands,-,-,-,-

#### 5.5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [6]:
browser.get('https://github.com/')

In [7]:
browser.maximize_window()

In [9]:
hidden=browser.find_element_by_xpath("//button[@class='js-details-target btn-link d-lg-none mt-1 color-fg-inherit']").click()

C:\Users\91865\AppData\Local\Temp/ipykernel_31624/888361555.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  hidden=browser.find_element_by_xpath("//button[@class='js-details-target btn-link d-lg-none mt-1 color-fg-inherit']").click()

In [10]:
explore=browser.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary").click()

C:\Users\91865\AppData\Local\Temp/ipykernel_31624/1969283891.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  explore=browser.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary").click()

In [11]:
trending=browser.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a").click()

C:\Users\91865\AppData\Local\Temp/ipykernel_31624/2775771968.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  trending=browser.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a").click()

In [12]:
name=[]
description=[]
count=[]
lang=[]

In [13]:
name1=browser.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
desc=browser.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']")
lang1=browser.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
count1=browser.find_elements_by_xpath("//a[@class='Link--muted d-inline-block mr-3']")

C:\Users\91865\AppData\Local\Temp/ipykernel_31624/2019239966.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  name1=browser.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
C:\Users\91865\AppData\Local\Temp/ipykernel_31624/2019239966.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  desc=browser.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']")
C:\Users\91865\AppData\Local\Temp/ipykernel_31624/2019239966.py:3: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  lang1=browser.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
C:\Users\91865\AppData\Local\Temp/ipykernel_31624/2019239966.py:4: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  count1=browser.find_elements_by_xpath("//a[@class='Link--muted d-inline-block mr-3']")

In [14]:
for n in range(len(name1)):
    name.append(name1[n].text)
for d in range(len(desc)):
    description.append(desc[d].text)
for c in range(len(count1)):
    count.append(count1[c].text)
for l in range(len(lang1)):
    lang.append(lang1[l].text)

In [15]:
count=count[1:42:2]
len(count)

21

In [18]:
name=name[0:21]
len(name)

21

In [20]:
description=description[0:21]
len(description)

21

In [22]:
lang=lang[0:21]
len(lang)

21

In [23]:
import pandas as pd

In [24]:
github_df=pd.DataFrame({'Repositary Name':name,'Description':description,'Language':lang,'Count':count})

In [25]:
github_df

,Repositary Name,Description,Language,Count
0,atom / atom,The hackable text editor,JavaScript,"17,335"
1,saharmor / dalle-playground,A playground to generate images from any text ...,JavaScript,226
2,borisdayma / dalle-mini,DALL·E Mini - Generate images from a text prompt,Python,354
3,openai / DALL-E,PyTorch package for the discrete VAE used for ...,Python,"1,174"
4,microsoft / Data-Science-For-Beginners,"10 Weeks, 20 Lessons, Data Science for All!",Jupyter Notebook,"2,339"
5,microsoft / ML-For-Beginners,"12 weeks, 26 lessons, 52 quizzes, classic Mach...",Jupyter Notebook,"7,390"
6,papers-we-love / papers-we-love,Papers from the computer science community to ...,Shell,"4,855"
7,vaxerski / Hyprland,Hyprland is a dynamic tiling Wayland composito...,C++,27
8,NVlabs / eg3d,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",Python,101
9,microsoft / Web-Dev-For-Beginners,High performance Spigot fork that aims to fix ...,JavaScript,"7,738"
10,PaperMC / Paper,Lightning-fast and Powerful Code Editor writte...,Java,"1,587"
11,lapce / lapce,💬 Open source machine learning framework to au...,Rust,302
12,RasaHQ / rasa,📚 技术面试必备基础知识、Leetcode、计算机操作系统、计算机网络、系统设计,Python,"4,015"
13,CyC2018 / CS-Notes,This repo includes Books and imp notes related...,JavaScript,"48,050"
14,tvbb / z,⚙️ NGINX config generator on steroids 💉,Python,65
15,ahmedtariq01 / Cloud-DevOps-Learning-Resources,A Human-in-the-Loop workflow for creating HD i...,TypeScript,88
16,digitalocean / nginxconfig.io,A new full-featured and high-performance TypeS...,Python,"1,377"
17,jina-ai / dalle-flow,中国程序员容易发音错误的单词,C++,64
18,deepkit / deepkit-framework,An open-source C++ library developed and used ...,JavaScript,61
19,shimohq / chinese-programmer-wrong-pronunciation,"Fast and low overhead web framework, for Node.js",Kotlin,"1,366"
20,facebook / folly,A fully functional Android app built entirely ...,Go,"4,659"

#### 6.Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [6]:
browser.get("https://www.billboard.com/")

In [7]:
browser.maximize_window()

In [8]:
hot_100=browser.find_element_by_xpath("/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a").click()

C:\Users\91865\AppData\Local\Temp/ipykernel_20520/159378507.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  hot_100=browser.find_element_by_xpath("/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a").click()

In [9]:
song=[]
artist=[]
last=[]
peak=[]
weeks=[]

In [10]:
song1=browser.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
artist1=browser.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
weeks1=browser.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max']")
peak1=browser.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max']")

C:\Users\91865\AppData\Local\Temp/ipykernel_20520/1320442827.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  song1=browser.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
C:\Users\91865\AppData\Local\Temp/ipykernel_20520/1320442827.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  artist1=browser.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
C:\Users\91865\AppData\Local\Temp/ipykernel_20520/1320442827.py:3: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  weeks1=browser.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max']")
C:\Users\91865\AppData\Local\Temp/ipykernel_20520/1320442827.py:4: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  peak1=browser.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max']")

In [11]:
for s in range(len(song1)):
    song.append(song1[s].text)
for a in range(len(artist1)):
    artist.append(artist1[a].text)

In [12]:
for w in range(len(weeks1)):
    weeks.append(weeks1[w].text)
for p in range(len(peak1)):
    peak.append(peak1[p].text)

In [13]:
peak=peak[3:200:2]
peak

['1',
 '1',
 '4',
 '1',
 '3',
 '7',
 '8',
 '4',
 '1',
 '5',
 '5',
 '9',
 '4',
 '5',
 '16',
 '7',
 '2',
 '19',
 '3',
 '6',
 '22',
 '23',
 '4',
 '15',
 '14',
 '21',
 '8',
 '7',
 '6',
 '28',
 '32',
 '4',
 '25',
 '15',
 '26',
 '29',
 '18',
 '3',
 '40',
 '8',
 '9',
 '15',
 '44',
 '14',
 '13',
 '47',
 '48',
 '49',
 '34',
 '7',
 '5',
 '53',
 '51',
 '55',
 '38',
 '43',
 '14',
 '59',
 '60',
 '15',
 '16',
 '18',
 '38',
 '21',
 '66',
 '22',
 '27',
 '12',
 '53',
 '71',
 '59',
 '13',
 '43',
 '22',
 '25',
 '24',
 '22',
 '64',
 '80',
 '29',
 '72',
 '13',
 '32',
 '31',
 '86',
 '87',
 '30',
 '52',
 '21',
 '91',
 '40',
 '11',
 '94',
 '51',
 '12',
 '97',
 '98',
 '99',
 '100']

In [14]:
last=weeks[2:200:2]
last

['2',
 '3',
 '5',
 '6',
 '7',
 '10',
 '-',
 '4',
 '12',
 '16',
 '11',
 '23',
 '17',
 '18',
 '28',
 '19',
 '27',
 '35',
 '33',
 '26',
 '-',
 '48',
 '36',
 '40',
 '31',
 '37',
 '34',
 '38',
 '32',
 '51',
 '44',
 '39',
 '45',
 '47',
 '50',
 '43',
 '46',
 '20',
 '42',
 '8',
 '9',
 '52',
 '60',
 '53',
 '13',
 '-',
 '57',
 '58',
 '63',
 '49',
 '41',
 '86',
 '64',
 '65',
 '54',
 '66',
 '14',
 '-',
 '-',
 '15',
 '56',
 '55',
 '67',
 '21',
 '74',
 '69',
 '68',
 '62',
 '75',
 '-',
 '59',
 '71',
 '72',
 '22',
 '25',
 '24',
 '70',
 '82',
 '90',
 '29',
 '-',
 '61',
 '80',
 '77',
 '-',
 '-',
 '30',
 '88',
 '76',
 '-',
 '-',
 '83',
 '99',
 '87',
 '84',
 '-',
 '-',
 '-',
 '-']

In [15]:
weeks=weeks[3:200:2]
weeks

['8',
 '5',
 '7',
 '72',
 '32',
 '4',
 '21',
 '2',
 '47',
 '4',
 '28',
 '29',
 '4',
 '36',
 '16',
 '44',
 '49',
 '18',
 '30',
 '3',
 '1',
 '9',
 '38',
 '12',
 '4',
 '13',
 '37',
 '39',
 '4',
 '21',
 '11',
 '5',
 '6',
 '16',
 '4',
 '3',
 '34',
 '3',
 '6',
 '2',
 '2',
 '6',
 '17',
 '8',
 '2',
 '1',
 '9',
 '26',
 '4',
 '3',
 '3',
 '4',
 '6',
 '5',
 '14',
 '15',
 '2',
 '1',
 '1',
 '2',
 '4',
 '4',
 '9',
 '2',
 '2',
 '12',
 '20',
 '4',
 '18',
 '1',
 '2',
 '8',
 '14',
 '2',
 '2',
 '2',
 '4',
 '19',
 '9',
 '2',
 '2',
 '3',
 '4',
 '4',
 '1',
 '1',
 '2',
 '19',
 '4',
 '1',
 '10',
 '5',
 '2',
 '4',
 '5',
 '1',
 '1',
 '1',
 '1']

In [16]:
import pandas as pd

In [17]:
songs_df=pd.DataFrame({"Song Name":song,'Artist Name':artist,'Last week':last,'Peak Position':peak,'Weeks on Charts':weeks})

In [18]:
songs_df

,Song Name,Artist Name,Last week,Peak Position,Weeks on Charts
0,First Class,Jack Harlow,2,1,8
1,Wait For U,Future Featuring Drake & Tems,3,1,5
2,About Damn Time,Lizzo,5,4,7
3,Heat Waves,Glass Animals,6,1,72
4,Big Energy,Latto,7,3,32
...,...,...,...,...,...
94,Love You Better,Future,84,12,5
95,Wild Hearts,Keith Urban,-,97,1
96,Last Night Lonely,Jon Pardi,-,98,1
97,7500 OBO,Tim McGraw,-,99,1
98,Until I Found You,Stephen Sanchez,-,100,1

#### 7.  Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [6]:
browser.get("https://www.naukri.com/data-science-recruiters")

In [7]:
browser.maximize_window()

In [8]:
recruit=browser.find_element_by_xpath("(//div[@class='mTxt'])[2]").click()

C:\Users\91865\AppData\Local\Temp/ipykernel_20640/862939961.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  recruit=browser.find_element_by_xpath("(//div[@class='mTxt'])[2]").click()

In [8]:
name=[]
designation=[]
company=[]
skill=[]
location=[]

In [9]:
name1=browser.find_elements_by_xpath("//span[@class='fl ellipsis']")
desig=browser.find_elements_by_xpath("//span[@class='ellipsis clr']")
company1=browser.find_elements_by_xpath("//a[@class='ellipsis']")#100 1:100:2
skill1=browser.find_elements_by_xpath("//div[@class='hireSec highlightable']")
location1=browser.find_elements_by_xpath("//small[@class='ellipsis']")

C:\Users\91865\AppData\Local\Temp/ipykernel_4832/2036587945.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  name1=browser.find_elements_by_xpath("//span[@class='fl ellipsis']")
C:\Users\91865\AppData\Local\Temp/ipykernel_4832/2036587945.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  desig=browser.find_elements_by_xpath("//span[@class='ellipsis clr']")
C:\Users\91865\AppData\Local\Temp/ipykernel_4832/2036587945.py:3: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  company1=browser.find_elements_by_xpath("//a[@class='ellipsis']")#100 1:100:2
C:\Users\91865\AppData\Local\Temp/ipykernel_4832/2036587945.py:4: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  skill1=browser.find_elements_by_xpath("//div[@class='hireSec highlightable']")
C:\Users\91865\AppData\Local\Temp/ipykernel_4832/2036587945.py:5: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  location1=browser.find_elements_by_xpath("//small[@class='ellipsis']")

In [10]:
for n in range(len(name1)):
    name.append(name1[n].text)
for d in range(len(desig)):
    designation.append(desig[d].text)
for c in range(len(company1)):
    company.append(company1[c].text)
for s in range(len(skill1)):
    skill.append(skill1[s].text)
for l in range(len(location1)):
    location.append(location1[l].text)

In [17]:
name=name[0:48]
len(name)

48

In [18]:
designation=designation[0:48]
len(designation)

48

In [19]:
company=company[1:97:2]
len(company)

48

In [20]:
skill=skill[0:48]
len(skill)

48

In [22]:
len(location)

48

In [23]:
import pandas as pd

In [24]:
recruit_df=pd.DataFrame({'Name':name,'Designation':designation,'Company Name':company,'Skills hire for':skill,'Location':location})

In [25]:
recruit_df

,Name,Designation,Company Name,Skills hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
32,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
33,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Bengaluru / Bangalore
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Ghaziabad

#### 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [6]:
browser.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [7]:
browser.maximize_window()

In [8]:
name=[]
author=[]
volumes=[]
publisher=[]
genre=[]
title=[]

In [9]:
title1=browser.find_elements_by_xpath("//td[@class='left']")
genre1=browser.find_elements_by_xpath("//td[@class='last left']")

C:\Users\91865\AppData\Local\Temp/ipykernel_26144/771822155.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  title1=browser.find_elements_by_xpath("//td[@class='left']")
C:\Users\91865\AppData\Local\Temp/ipykernel_26144/771822155.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  genre1=browser.find_elements_by_xpath("//td[@class='last left']")

In [10]:
for t in range(len(title1)):
    title.append(title1[t].text)
for g in range(len(genre1)):
    genre.append(genre1[g].text)

In [11]:
name=title[1:500:5]
len(name)

100

In [12]:
author=title[2:500:5]
len(author)

100

In [13]:
volumes=title[3:500:5]
len(volumes)

100

In [14]:
publisher=title[4:500:5]
len(publisher)

100

In [15]:
import pandas as pd

In [16]:
novel_df=pd.DataFrame({'Novel Name':name,'Author':author,'Volumes':volumes,'Publisher':publisher,'Genre':genre})

In [17]:
novel_df

,Novel Name,Author,Volumes,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

#### 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Vote

In [18]:
browser.get("https://www.imdb.com/list/ls095964455/")

In [19]:
browser.maximize_window()

In [20]:
name=[]
year=[]
genre=[]
time=[]
rating=[]
vote=[]

In [21]:
name1=browser.find_elements_by_xpath("//h3//a[@href]")
year1=browser.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
genre1=browser.find_elements_by_xpath("//span[@class='genre']")
time1=browser.find_elements_by_xpath("//span[@class='runtime']")
rating1=browser.find_elements_by_xpath("//span[@class='ipl-rating-star__rating']")
vate1=browser.find_elements_by_xpath("//p[@class='text-muted text-small']")

C:\Users\91865\AppData\Local\Temp/ipykernel_26144/861610644.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  name1=browser.find_elements_by_xpath("//h3//a[@href]")
C:\Users\91865\AppData\Local\Temp/ipykernel_26144/861610644.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  year1=browser.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
C:\Users\91865\AppData\Local\Temp/ipykernel_26144/861610644.py:3: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  genre1=browser.find_elements_by_xpath("//span[@class='genre']")
C:\Users\91865\AppData\Local\Temp/ipykernel_26144/861610644.py:4: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  time1=browser.find_elements_by_xpath("//span[@class='runtime']")
C:\Users\91865\AppData\Local\Temp/ipykernel_26144/861610644.py:5: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  rating1=browser.find_elements_by_xpath("//span[@class='ipl-rating-star__rating']")
C:\Users\91865\AppData\Local\Temp/ipykernel_26144/861610644.py:6: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  vate1=browser.find_elements_by_xpath("//p[@class='text-muted text-small']")

In [22]:
for r in range(len(rating1)):
    rating.append(rating1[r].text)

In [23]:
rating=rating[0:2300:23]
len(rating)

100

In [24]:
for v in range(len(vate1)):
    vote.append(vate1[v].text)

In [25]:
vote=vote[2:300:3]
len(vote)

100

In [26]:
vote

['Votes: 1,993,298',
 'Votes: 1,028,137',
 'Votes: 948,953',
 'Votes: 283,534',
 'Votes: 243,314',
 'Votes: 296,422',
 'Votes: 139,890',
 'Votes: 295,555',
 'Votes: 338,239',
 'Votes: 426,389',
 'Votes: 457,462',
 'Votes: 784,878',
 'Votes: 519,573',
 'Votes: 895,611',
 'Votes: 511,158',
 'Votes: 163,639',
 'Votes: 311,909',
 'Votes: 307,864',
 'Votes: 1,744,505',
 'Votes: 309,603',
 'Votes: 430,334',
 'Votes: 518,974',
 'Votes: 147,374',
 'Votes: 143,374',
 'Votes: 396,318',
 'Votes: 220,925',
 'Votes: 406,619',
 'Votes: 421,970',
 'Votes: 955,013',
 'Votes: 664,513',
 'Votes: 397,424',
 'Votes: 375,370',
 'Votes: 132,159',
 'Votes: 122,249',
 'Votes: 170,278',
 'Votes: 151,993',
 'Votes: 226,735',
 'Votes: 477,698',
 'Votes: 209,806',
 'Votes: 411,753',
 'Votes: 478,060',
 'Votes: 61,411',
 'Votes: 179,284',
 'Votes: 495,415',
 'Votes: 357,383',
 'Votes: 73,935',
 'Votes: 262,328',
 'Votes: 231,250',
 'Votes: 217,205',
 'Votes: 214,171',
 'Votes: 227,247',
 'Votes: 713,085',
 'Votes: 127,428',
 'Votes: 328,671',
 'Votes: 240,161',
 'Votes: 538,145',
 'Votes: 491,689',
 'Votes: 450,027',
 'Votes: 60,424',
 'Votes: 109,115',
 'Votes: 335,878',
 'Votes: 72,620',
 'Votes: 103,043',
 'Votes: 217,724',
 'Votes: 90,868',
 'Votes: 89,674',
 'Votes: 48,162',
 'Votes: 145,965',
 'Votes: 360,861',
 'Votes: 295,944',
 'Votes: 105,604',
 'Votes: 205,643',
 'Votes: 549,151',
 'Votes: 102,457',
 'Votes: 126,366',
 'Votes: 418,356',
 'Votes: 105,717',
 'Votes: 222,042',
 'Votes: 83,981',
 'Votes: 21,325',
 'Votes: 136,753',
 'Votes: 150,159',
 'Votes: 127,663',
 'Votes: 36,045',
 'Votes: 270,978',
 'Votes: 119,002',
 'Votes: 128,082',
 'Votes: 72,682',
 'Votes: 104,100',
 'Votes: 190,181',
 'Votes: 27,545',
 'Votes: 180,541',
 'Votes: 192,038',
 'Votes: 702,447',
 'Votes: 66,728',
 'Votes: 48,842',
 'Votes: 59,507',
 'Votes: 190,224',
 'Votes: 40,268',
 'Votes: 228,518']

In [27]:
for n in range(len(name1)):
    name.append(name1[n].text)
for y in range(len(year1)):
    year.append(year1[y].text)
for g in range(len(genre1)):
    genre.append(genre1[g].text)
for t in range(len(time1)):
    time.append(time1[t].text)

In [28]:
import pandas as pd

In [29]:
imdb_df=pd.DataFrame({'Name':name,'Year Span':year,'Genre':genre,'Run Time':time,'Votes':vote,'Ratings':rating})

In [30]:
imdb_df

,Name,Year Span,Genre,Run Time,Votes,Ratings
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,"Votes: 1,993,298",9.2
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,"Votes: 1,028,137",8.7
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,"Votes: 948,953",8.2
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,"Votes: 283,534",7.5
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,"Votes: 243,314",7.6
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,"Votes: 48,842",7.4
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,"Votes: 59,507",7.8
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,"Votes: 190,224",8.1
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,"Votes: 40,268",7.1
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,"Votes: 228,518",8.6

#### 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances


F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code

In [6]:
browser.get("https://archive.ics.uci.edu/ml/index.php")

In [7]:
browser.maximize_window()

In [8]:
show_all=browser.find_element_by_xpath("(//span[@class='whitetext'])[4]").click()

C:\Users\91865\AppData\Local\Temp/ipykernel_29832/1264667538.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  show_all=browser.find_element_by_xpath("(//span[@class='whitetext'])[4]").click()

In [10]:
name=[]
d_type=[]
task=[]
attri=[]
instan=[]
number=[]
year=[]
total=[]

In [11]:
total1=browser.find_elements_by_xpath("//p[@class='normal']")

C:\Users\91865\AppData\Local\Temp/ipykernel_29832/1456106050.py:1: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  total1=browser.find_elements_by_xpath("//p[@class='normal']")

In [12]:
for t in range(len(total1)):
    total.append(total1[t].text)

In [13]:
len(total)

4364

In [14]:
name=total[8:4361:7]
len(name)

622

In [17]:
d_type=total[9:4361:7]
len(d_type)

622

In [19]:
task=total[10:4361:7]
len(task)

622

In [22]:
attri=total[11:4361:7]
len(attri)

622

In [25]:
instan=total[12:4361:7]
len(instan)

622

In [26]:
number=total[13:4361:7]
len(number)

622

In [31]:
year=total[14:4362:7]
len(year)

622

In [32]:
import pandas as pd

In [33]:
dataset_df=pd.DataFrame({'Dataset Name':name,'Data Types':d_type,'Default Task':task,'Attributes':attri,'Number of Instances':instan,'Number of attributes':number,'Year':year})

In [34]:
dataset_df

,Dataset Name,Data Types,Default Task,Attributes,Number of Instances,Number of attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021